

/* Loptap and Computer code  */
@media (min-width: 992px) and (max-width:1600px) {

    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        
    }

    .All_Link {
        padding: 7px 20.4% 5px;
        background-color: white;
        background-image: url('../Home-Background-Images/home-background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        overflow-x: hidden;
       
    }
    .All_Link::-webkit-scrollbar{
        display: none;
    }
    

 

/* Loptap and Computer code end */
}

/* mobile and tablet design code */
@media (min-width: 10px) and (max-width:991px) {

    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .All_Link {
        padding: 8px 0px 3px;
        background-image: url('../Home-Background-Images/home-background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .All_Link::-webkit-scrollbar{
        display: none;
    }

  
    

/* mobile and tablet design code end */
} 