

/* Loptap and Computer code  */
@media (min-width: 992px) and (max-width:1600px) {

    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        
    }

    .Policy {
        background-color: rgb(0, 68, 255);
        height: auto;
        width: 96%;
        margin: 10px 2%;
        text-align: justify;
        color: white;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 30px 20px;
    }

    .Policy h1 {
        font-size: 27px;
        margin: 20px 5px;
        text-align: center;
    }

    .Policy h2 {
        font-size: 25px;
        text-align: center;
        margin: 20px 5px;
    }




}


/* Loptap and Computer code end */

    @media (min-width: 501px) and (max-width:992px) {

        * {
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
            
        }

        .Policy {
            background-color: rgb(0, 68, 255);
            height: auto;
            width: 96%;
            margin: 10px 2%;
            text-align: justify;
            color: white;
            font-size: 17px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding: 25px 20px;
        }
    
        .Policy h1 {
            font-size: 25px;
            margin: 20px 5px;
            text-align: center;
        }
    
        .Policy h2 {
            font-size: 23px;
            text-align: center;
            margin: 20px 5px;
        }
    
 
    
    
    }
    

/* mobile and tablet design code */
@media (min-width: 10px) and (max-width:500px) {

    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .Policy {
        background-color: rgb(0, 68, 255);
        height: auto;
        width: 96%;
        margin: 10px 2%;
        text-align: justify;
        color: white;
        font-size: 14px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 10px 20px;
    }

    .Policy h1 {
        font-size: 22px;
        margin: 20px 5px;
        text-align: center;
    }

    .Policy h2 {
        font-size: 20px;
        text-align: center;
        margin: 20px 5px;
    }

    

/* mobile and tablet design code end */
} 